<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap" rel="stylesheet">
  </head>
</html>