<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/skills"> < Back</a>
    <h1 class="home-text"><%= title %> </h1>
    <p class="home-text">Welcome to <%= title %></p>

    <div id="math">
      <a href="/sum/123/456">Add 123 to 456</a><br>
      <a href="/sum/8/29">Add 8 to 29</a>
    </div>
  </body>
</html>
