<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/skills"> < Back</a>
    <h1 class="home-text"><%= title %> </h1>
    <p class="home-text">Welcome to <%= title %></p>
  </body>
</html>
